*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --color-light: #f7f3e3;
  --color-dark: #3f2a2b;
  --color-secondary: #b3b6b7;
  --color-primary: #4b4139;
  --color-accent: #d62839;
}

body {
  font-family: "Sekuya", system-ui, sans-serif;
  background: var(--color-light);
  color: var(--color-dark);
  line-height: 1.5;
}

a {
  text-decoration: none;
  color: inherit;
}